.Contacts-container{
    display: grid;
    grid-template-rows: 15%  1fr;
    height: 100vh;
}
.chat-button-div{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin-right: 10px;
    background:transparent;
}
.chat-button{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgb(29, 219, 29);
}
.chat-button:hover{
    cursor: pointer;
    background-color: green;
}
.message-contacts{
    position: absolute;
    z-index: 999;
    font-size: 2rem;
    padding: 20px;
    height: 45%;
    width: 40%;
    margin-left: 8%;
    margin-bottom: 8%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}